<a href="https://colab.research.google.com/github/omondijeff/week_3_IP/blob/master/Dataframes_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [0]:
# import the pandas library
import pandas as pd
# import the Numpy library
import numpy as np

# Loading and Exploration of Datasets

In [0]:
#importing the cells geo description
cells_geo_des_url = "cells_geo_description.xlsx" #defining the location of the xlsx file
cells_geo_des = pd.read_excel(cells_geo_des_url) #creating a Dataframe
cells_geo_des

In [0]:
#importing the CDR description
cdr_des_url = "CDR_description.xlsx" #defining the file url
cdr_des = pd.read_excel(cdr_des_url)  #creating a dataframe
cdr_des

In [0]:
#importing the cells geo csv
cells_geo_url = "cells_geo.csv" #definiing the file location
cells_geo = pd.read_csv(cells_geo_url, sep=";", index_col=0) #creating a dataframe from a csv
cells_geo

In [0]:
#importing the Telcom Dataset1
telcom1_url = "Telcom_dataset.csv" #defining the file location
telcom_dataset1 = pd.read_csv(telcom1_url) #creating a dataframe from the csv
telcom_dataset1

In [0]:
#importing the Telcom Dataset2
telcom2_url = "Telcom_dataset2.csv" #defining the file location
telcom_dataset2 = pd.read_csv(telcom2_url) #creating a dataframe from csv
telcom_dataset2

In [0]:
#importing the Telcom Dataset3
telcom3_url = "Telcom_dataset3.csv" #defining the file location
telcom_dataset3 = pd.read_csv(telcom3_url) #creating a dataframe from the csv
telcom_dataset3

# Cleaning of The Datasets

In [0]:
#We create a new geo description Dataframe that has only the required/necessary columns
#i will call it clean_cells_geo

clean_cells_geo = cells_geo[['VILLES','STATUS','CELL_ID','SITE_CODE']]
clean_cells_geo

In [0]:
#changing the column names pf the three datasets, to make them similar

telcom_dataset1.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
telcom_dataset2.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
telcom_dataset3.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']

In [0]:
#Joining the three datasets into one using concat to From Telcom Dataset
telcom_dataset = pd.concat([telcom_dataset1, telcom_dataset2,telcom_dataset3], axis=0)
telcom_dataset

In [0]:
#i now merge the telcom dataset with cleaned_cells_geo dataset
new_telcom = pd.merge(left=clean_cells_geo,right=telcom_dataset,left_on='SITE_CODE',right_on='SITE_ID')
new_telcom

In [0]:
#i'll remove duplicates from the DataFrame
new_telcom.drop_duplicates()

#Deletion of null values
new_telcom = new_telcom.dropna()
new_telcom

## Analysis

In [0]:
#I will count the number of occurences of each and every city to find the most used
occurences = new_telcom['VILLES'].value_counts()
occurences

YOPOUGON     8540
ABOBO        6195
COCODY       3814
ADJAME       2627
KOUMASSI     2333
             ...
KOTOUBA         3
SAMO            3
ATTIGUEHI       3
DANANON         2
KOTOULA         2
Name: VILLES, Length: 400, dtype: int64

In [0]:
#I then save the file to csv to enable further manipulation
occurences = new_telcom['VILLES'].value_counts()
df = pd.DataFrame(occurences)
df.to_csv('Occurences')

In [0]:
df2 = pd.read_csv('/content/occurences')
df2
df2.sum(axis = 0, skipna = True)

CITY     YOPOUGONABOBOCOCODYADJAMEKOUMASSIMARCORYYAMOUS...
COUNT                                                50645
dtype: object

In [0]:
df2[(df2['COUNT'] > 100)]

            CITY  COUNT
0       YOPOUGON   8540
1          ABOBO   6195
2         COCODY   3814
3         ADJAME   2627
4       KOUMASSI   2333
5        MARCORY   2189
6   YAMOUSSOUKRO   2148
7    TREICHVILLE   2053
8          DALOA   1762
9      ATTECOUBE   1671
10    PORT-BOUET   1527
11     SAN-PEDRO   1340
12        BOUAKE   1266
13          DIVO    846
14           MAN    672
15        GAGNOA    657
16        SOUBRE    549
17         DABOU    417
18       KORHOGO    367
19       SEGUELA    357
20   BINGERVILLE    354
21       DUEKOUE    330
22       SIKENSI    303
23        LAKOTA    282
24     AGBOVILLE    282
25         ISSIA    237
26       BOUAFLE    234
27        ANYAMA    228
28  GRAND-BASSAM    225
29       PLATEAU    213
30    ABENGOUROU    186
31       TOUMODI    183
32       ODIENNE    183
33       DAOUKRO    180
34         FERKE    174
35      DIMBOKRO    158
36        ADZOPE    156
37        VAVOUA    150
38     BONDOUKOU    141
39        MEADJI    140
40      ZUENOULA    126
41   AGNIBILEKRO    102